.services {
    @media screen and (min-width: 1200px) {
        padding: 100px 0;
    }
    &__title {
        color: var(--primary-light);
        margin-bottom: 2rem;
    }
    &__col {
            margin-bottom: 30px;
        
    }

}


.service {
    // border: 1px solid #000;
    // background: var(--primary-dark);
    // background: linear-gradient(45deg, rgba(23,23,38,0.7) 0%, rgba(42, 20, 83, 0.7) 100%);
    // border-radius: 0.5rem;
    overflow: hidden;
    height: 100%;
    // box-shadow: 10px 10px 10px rgba($color: #fff, $alpha: 0.8);
    position: relative;
    z-index: 1;
    text-align: center;
    // color: #000000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    // border: 1px solid #fff;
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: #000, $alpha: 0.5);
        z-index: -1;
        backdrop-filter: blur(1px);

    }

    &__inner {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        transition: all 800ms;
    }
    &:hover &__img {
        transform: scale(1.1);
    }
    &__title {
        font-size: 1.2rem;
        // color: var(--primary-light);
        // color: #fff;
        // opacity: 0.7;
        text-align: center;
        margin-bottom: 1rem;
        border-bottom: 1px solid #fff;
        padding-bottom: 1rem;
        // padding: 5px;
        // background-color: rgba($color: #000000, $alpha: 0.4);

    }
    &__text {
        text-align: left;
    }
    &__list {
        text-align: left;
        margin-bottom: 2rem;
    }

}

.note {
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    color: #fff;
    padding: 1rem;
    text-align: center;
    background-image: url(../images/dist/service-1.jpg), url(../images/dist/service-2.jpg), url(../images/dist/service-3.jpg), url(../images/dist/service-4.jpg);
    background-position: center left 0%, center left 33.33%, center left 66.66%, center left 99.99%;
    background-size: 25% auto, 25% auto, 25% auto, 25% auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba($color: #fff, $alpha: 0.1);
    &:before {
        content: "";
        display: block;
        position: absolute;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #1c1917, $alpha: 0.8);
        backdrop-filter: blur(10px);
        z-index: -1;
    }

}